<div class="container col-md-8" >
        <br/>
        <h3>List of Items</h3><br/>
        <form method="POST" action="/categories/{{categoryId}}/lists/{{listId}}/items">
          <div class="form-row">
              <input type="text" class="form-control col-md-6 ml-1" id="description" name="description"
               {{readonly}} placeholder="Type your new item">
              <input type="hidden" name="listId" value="{{listId}}"/>
            <button type="submit" class="btn btn-primary ml-1 col-md-2">Add</button>
          </div>
        </form>
        <br/>

            <table class="table table-striped table-hover">
              <thead class="thead-dark">
                <tr class="row">
                  <th scope="col" class="col-sm-1">#</th>
                  <th scope="col" class="col-sm-7">Description</th>
                  <th scope="col" class="col-sm-4">Action</th>
                </tr>
              </thead>
              <tbody>
                {{#data}}
                <tr class="row">
                  <th class="col-sm-1">{{id}}</th>
                  <td class="col-sm-7">{{description}}</td>
                  <td class="col-sm-4">
                    <a class="btn btn-success" href="#" role="button" onclick="openView({{id}})">View</a>
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#edit_{{id}}">Edit</button>
                    <div class="modal fade" id="edit_{{id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Edit item</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div class="modal-body">
                          <form>
                            <div class="form-group">
                              <label for="recipient-name" class="col-form-label">Description:</label>
                              <input type="text" class="form-control" id="item_{{id}}" value="{{description}}" autofocus>
                            </div>
                          </form>
                        </div>
                        <div class="modal-footer">
                          <button type="button" id="btnClose_{{id}}" class="btn btn-secondary" data-dismiss="modal" onclick="closeView({{id}});">Close</button>
                          <button type="button" id="btnSave_{{id}}" class="btn btn-primary" onclick="updateDescription({{id}})">Save changes</button>
                        </div>
                      </div>
                    </div>
                  </div>
                    <a class="btn btn-danger" href="/contact/delete/{{id}}" role="button">Remove</a>
                  </td>
                </tr>
                {{/data}}
                <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
                <script>

                  function openView(id) {
                    $('#edit_'+id).modal('show');
                    $('#item_'+id).attr('readonly', true);
                    $('#btnSave_'+id).hide();
                  }

                  function closeView(id) {
                    $('#item_'+id).attr('readonly', false);
                    $('#btnSave_'+id).show();
                  }

                  function updateDescription(elementId) {
                      let inputDescription = document.getElementById("item_"+elementId);
                      let description = inputDescription.value;
                      
                      axios.post('/categories/{{categoryId}}/lists/{{listId}}/items/'+elementId, {
                        id: elementId,
                        description: description
                      })
                      .then(function (response) {
                        if (response.data.status === "ok") {
                          alert("Sucesso: " + response.data.msg);
                        }
                        else {
                          alert("Erro no servidor.");
                        }
                      })
                  }
                </script>
              </tbody>
            </table>


  </div>
